<?xml version="1.0"?>
<robot name="vulcano" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:include filename="$(find vulcano_description)/robots/vulcano.urdf.xacro"/>
  <xacro:vulcano hw_interface="$(arg hw_interface)"/>
</robot>
